
body, html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;

  }
  /*********************NAVIGACIJA***************************/
  
  header{
    background-color: black;
    width: 100%;
    height: 10%;
    margin: 0;
  }
  #hamburger{
    position: absolute;
    top: 3%;
    right: 0;
    padding: 1rem;
    display: none;

  }
 
.nav{
    display: flex;
    flex-direction: row;
    margin: 0;
  }
.nav li{
   list-style-type: none;
    padding: 2rem;
}

.nav li a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
}

.nav li a:hover{
    text-shadow: 3px 3px 8px white;
}


  /*********************NAVIGACIJA KRAJ***************************/

.naslov{
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: white;
}
.podnaslov{
    font-size: 1.5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;

}
.text{
    font-size:1.5rem;
    line-height: 2.5rem;
    word-spacing: 0.3rem;
    text-align: justify;
}
/**************************BANNER*****************************************/
.banner-bg{
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url("../img/leafs-wall.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   text-align: center;
   filter: blur(2px);
   -webkit-filter: blur(2px);
  
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;

border-radius: 5rem;
    text-align: center;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  background-color: rgba(0, 0, 0, 0.606);
  width: 60%;
  height: 60%;
  text-transform: uppercase;

}
.banner-text h3{
    letter-spacing: 0.7rem;
    font-size:1.5rem;
    font-weight: 300;
}
.naslov{
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin: 0.5rem 0;
}

.banner-text p{
    font-size: 1rem;
    letter-spacing: 0.5rem;

}
.saznaj{
    font-size: 1rem;
    text-shadow: 2px 2px 4px white;
    letter-spacing: 0.5rem;
    padding: 2rem;
    background-color: rgba(8, 7, 7, 0.567);
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.saznaj:hover{
    background-color: rgba(23, 23, 23, 0.567);
    transform: scale(1.02); /*za 20%*/
}



section{
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}
/****************************OSNOVNI PODACI******************************************/
.podaci-sekcija{
    height: fit-content;
}
.podaci-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem;
    max-width: 100vw;
}

.podatak{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 13rem;
    border-radius: 2rem;
    background-color:  #166254;
    margin: 2rem;
    padding: 2rem;
}

.icon{
    width: 3rem;
    height: 3rem;
}

.podatak p{
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 0.2rem;
}
/**********************INFORMACIJE SEKCIJA*********************/
.info{
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 5%;
    background-color: black;
}
button{
    font-size: 1rem;
    padding: 1rem 2rem;
    background-color: #238a72;
    border: none;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 4px white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;

}
button:hover{
    background-color: #47a791;

}
button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 100;

}

.paragraf-container {

    max-height: 100%;
    padding: 10rem;

}
.naslov-info{
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
}

.paragraf-container p{

    
    font-size:1.5rem;
    line-height: 2.5rem;
    word-spacing: 0.3rem;
    text-align: justify;
    color: white;
    font-weight: 300;

}
/************************DEKORATIVNI NASLOV****************************************/
.decor-container{
    margin-top: 10%;
    background-image: url("../img/pexels-luis-del-río-15286.jpg");
    position: relative; 
    height: 15rem;
}

.decor-naslov{
    background-color: white;
    color: black;
    font-size: 10vw; 
  font-weight: 800;
  margin: 0 auto; 
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  mix-blend-mode: screen; 
}

footer{
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: black;
    color: white;
    text-align: center;
}
footer ul {
    list-style-type: none;

}
footer ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-div{
    text-transform: uppercase;
    text-align: left;
}
.footer-div p a i{
    margin-right: 3%;
}
.footer-div p a{
    color: white;
    text-decoration: none;
}

.socials p {
    padding: 0.7rem;
}

.kontakt-info p{
    padding: 0.7rem;

}

.stranice{
    padding: 0.5rem 2rem;
    text-align: center;
}
.stranice ul li {
    padding: 1.01rem;
}


/*********************MEDIA QUERY*************************/
@media screen and (max-width: 1200px) {
    /*********************NAVIGACIJA***************************/
  header{
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 

  .nav{
    display: flex;
    flex-direction: column;
    margin: 0 ;
    position: absolute;
    top: -500%;
    z-index: 3;
    background-color: black;
    width: 100%;
    max-width: 100%;
    text-align: center;
    overflow-x: hidden;
    transition: top 0.5s ease;

  }

  .prikazi {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 60%;
    z-index: 3;
    width: 100%;
    max-width: 100%;
    background-color: rgb(0, 0, 0);
}




#hamburger{
    position: absolute;
    top: 3%;
    z-index: 4 ;
    right: 0;
    padding: 1rem;
    display: block;

  }


}


@media screen and (max-width: 800px) {
    /*****************NASLOVNA SEKCIJA************************/
    .podaci-container {
      flex-direction: column;
      justify-content: center;
    align-items: center;
    }
    .naslov{
        font-size: 3rem;
        letter-spacing: 0.1rem;
    }
    .text{
        font-size:1rem;
        line-height: 1rem;
        word-spacing: 0.1rem;
        text-align: justify;
    }
    .banner-text h3{
        letter-spacing: 0.3rem;
        font-size:1rem;
    }
    .saznaj{
        font-size: 0.8rem;
        letter-spacing: 0.3rem;
        padding: 2rem;
       
    }

    footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    /****************O LUCANIMA TEXT********************/
    
    .paragraf-container {
    
        max-height: 100%;
        padding: 5rem 3rem;
    
    }
    .naslov-info{
        font-size: 2rem;
    }
    
    .paragraf-container p{  
        font-size:1.5rem;
        line-height: 2.5rem;
        word-spacing: 0.1rem;
    
    }

    /************************DEKORATIVNI NASLOV****************************************/
.decor-container{
    height: 10rem;
}

.decor-naslov{
    font-size: 15vw;
}

/****************************OSNOVNI PODACI******************************************/

.podaci-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 1rem;
    height: fit-content;
}
.podnaslov{
    font-size: 1.3rem;
    letter-spacing: 0.8rem;

}


  }





.col-12{
	width:100%;
}
.col-9{
	width:74.97;
}
.col-8{
	width:66.64;
}
.col-7{
	width:58.33%;
}
.col-6{
	width:50%;
}
.col-5{
	width:41.65;
}
.col-4{
	width:33.32%;
}
.col-3{
	width:24.99%;
}
.col-2{
	width:16.66%;
    background-color: blue;
    height: 300px;
}
.col-1{
	width:8.33%;
}